.oc-categories-card {
	padding: 1.5rem 1.5rem !important;
}

.oc-card-subcategory {
	font-size: 14px !important;
	color: #555555 !important;
}

.oc-card-subcategory:hover {
	color: #0056b3 !important;
}

.onclick-navbar {
	margin-bottom: -117px !important;
}

.search-btn-listing-page {
	left: 188px;
	top: 0;
}

.btn-post-job:hover, .btn-post-job:focus, .btn-post-job:active {
	border: none;
}

/*home*/
.footer1 .subscribe-colm .subscribe-colm-row .email-sub-section-five .btn-home-search{
	line-height: 0;
}

.btn {
	padding: 0.875rem 1.5rem;
}

.btn-post-job-header {
	width: 103px;
	line-height: 0.6 !important;
}

.user-name-home {
	color: #fff;
	padding-left: 18px;
}

.btn-primary {
	background-color: #34A8DD;
	border-color: #34A8DD;
}

/*product*/
.forms-section-row .card-body i {
	top: 29px;
	padding-right: 20px;
}

.pd-section-one-container .pd-sec-one-details-text .card-text-row .fa-star-icons a i {
	padding-right: 5px;
}

/*login form*/
.fa-forms-user,
.fa-forms-lock {
	top: 27px !important;
}