.oc-categories-card {
	padding: 2.5rem 1.5rem !important;
}

.oc-card-subcategory {
	font-size: 14px !important;
	color: #555555 !important;
}

.oc-card-subcategory:hover {
	color: #0056b3 !important;
}

.onclick-navbar {
	margin-bottom: -117px !important;
}

.search-btn-listing-page {
	left: 188px;
	top: 0;
}

.btn-post-job:hover, .btn-post-job:focus, .btn-post-job:active {
	border: none;
}